
   
<!DOCTYPE html>
<html lang="en" >
<head>
    <link href= "../static/styles.css" rel = "stylesheet" type = "text/css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <main>
    {% include 'includes/navbar.html' %}

         {% include 'includes/suggestions.html' %}

        {% include 'includes/stories.html' %}

        {% include 'includes/cards.html' %}
  
    </main>

</body>

</html>
<!-- add alt-text should be added to when you are posting a picture. This way it makes the captions easier to 
to create for people who have different conditions that inhibit them from doing so . It should give explanations as
to what the is in the photograph-->